In [1]:
#Importamos las librerias pandas, numpy y matplotlib respectivamente
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf

In [2]:
#Cargamos el archivo diamonds.csv
diamantes = pd.read_csv('diamonds.csv')
diamantes

       carat        cut color clarity  depth  table   price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0   326.0  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0   326.0  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0   327.0  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0   334.0  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0   335.0  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...     ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0  2757.0  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0  2757.0  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0  2757.0  5.66  5.68  3.56
53938   0.86    Premium     H     SI2    NaN   58.0  2757.0  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0  2757.0  5.83  5.87  3.64

[53940 rows x 10 columns]

In [3]:
#Remplazamos los valores faltantes por la media aritmetica
df=diamantes.copy
df=diamantes.fillna(round(diamantes.mean(),1))
df

/var/folders/zv/01rx8f0176x702fr56drfp1m0000gn/T/ipykernel_1245/270871733.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df=diamantes.fillna(round(diamantes.mean(),1))

       carat        cut color clarity  depth  table   price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0   326.0  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0   326.0  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0   327.0  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0   334.0  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0   335.0  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...     ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0  2757.0  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0  2757.0  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0  2757.0  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.7   58.0  2757.0  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0  2757.0  5.83  5.87  3.64

[53940 rows x 10 columns]

In [4]:
df_numeric=df.copy()
df_numeric=df_numeric.drop(['cut','color','clarity'],axis=1)
df_numeric

       carat  depth  table   price     x     y     z
0       0.23   61.5   55.0   326.0  3.95  3.98  2.43
1       0.21   59.8   61.0   326.0  3.89  3.84  2.31
2       0.23   56.9   65.0   327.0  4.05  4.07  2.31
3       0.29   62.4   58.0   334.0  4.20  4.23  2.63
4       0.31   63.3   58.0   335.0  4.34  4.35  2.75
...      ...    ...    ...     ...   ...   ...   ...
53935   0.72   60.8   57.0  2757.0  5.75  5.76  3.50
53936   0.72   63.1   55.0  2757.0  5.69  5.75  3.61
53937   0.70   62.8   60.0  2757.0  5.66  5.68  3.56
53938   0.86   61.7   58.0  2757.0  6.15  6.12  3.74
53939   0.75   62.2   55.0  2757.0  5.83  5.87  3.64

[53940 rows x 7 columns]

In [5]:
nonumeric=pd.DataFrame(df,columns=['cut','color','clarity'])
nonumeric

             cut color clarity
0          Ideal     E     SI2
1        Premium     E     SI1
2           Good     E     VS1
3        Premium     I     VS2
4           Good     J     SI2
...          ...   ...     ...
53935      Ideal     D     SI1
53936       Good     D     SI1
53937  Very Good     D     SI1
53938    Premium     H     SI2
53939      Ideal     D     SI2

[53940 rows x 3 columns]

***************PROCEDIMIENTO "DESVIACIÓN ESTÁNDAR" PARA ELIMINAR OUTLIERS EN DATAFRAME*****************

In [6]:
#Método aplicando desviación estandar. Encuentro los valores extremos
y=df_numeric
Limite_Superior= y.mean() + 3*y.std()
Limite_Inferior= y.mean() - 3*y.std()
print("Limite superior permitido", Limite_Superior)
print("Limite inferior permitido", Limite_Inferior)

Limite superior permitido carat        2.219953
depth       66.047217
table       64.160560
price    15901.154414
x            9.096441
y            9.160929
z            5.655794
dtype: float64
Limite inferior permitido carat      -0.624090
depth      57.451571
table      50.753974
price   -8035.391985
x           2.365894
y           2.308121
z           1.421668
dtype: float64

In [7]:
#Encontramos Ouliers del Dataframe
outliers= df_numeric[(y>Limite_Superior)|(y<Limite_Inferior)]
outliers

       carat  depth  table  price   x   y   z
0        NaN    NaN    NaN    NaN NaN NaN NaN
1        NaN    NaN    NaN    NaN NaN NaN NaN
2        NaN   56.9   65.0    NaN NaN NaN NaN
3        NaN    NaN    NaN    NaN NaN NaN NaN
4        NaN    NaN    NaN    NaN NaN NaN NaN
...      ...    ...    ...    ...  ..  ..  ..
53935    NaN    NaN    NaN    NaN NaN NaN NaN
53936    NaN    NaN    NaN    NaN NaN NaN NaN
53937    NaN    NaN    NaN    NaN NaN NaN NaN
53938    NaN    NaN    NaN    NaN NaN NaN NaN
53939    NaN    NaN    NaN    NaN NaN NaN NaN

[53940 rows x 7 columns]

In [8]:
#Obtenemos datos sin outliers del DataFrame
df2= df_numeric[(y<=Limite_Superior)&(y>=Limite_Inferior)]
df2

       carat  depth  table   price     x     y     z
0       0.23   61.5   55.0   326.0  3.95  3.98  2.43
1       0.21   59.8   61.0   326.0  3.89  3.84  2.31
2       0.23    NaN    NaN   327.0  4.05  4.07  2.31
3       0.29   62.4   58.0   334.0  4.20  4.23  2.63
4       0.31   63.3   58.0   335.0  4.34  4.35  2.75
...      ...    ...    ...     ...   ...   ...   ...
53935   0.72   60.8   57.0  2757.0  5.75  5.76  3.50
53936   0.72   63.1   55.0  2757.0  5.69  5.75  3.61
53937   0.70   62.8   60.0  2757.0  5.66  5.68  3.56
53938   0.86   61.7   58.0  2757.0  6.15  6.12  3.74
53939   0.75   62.2   55.0  2757.0  5.83  5.87  3.64

[53940 rows x 7 columns]

In [9]:
#Reemplazamos valores atípicos (nulos) del dataframe con "mean"
#Realizamos una copia del dataframe
df_clean=df2.copy()
df_clean=df_clean.fillna(round(df2.mean(),1))
df_clean

       carat  depth  table   price     x     y     z
0       0.23   61.5   55.0   326.0  3.95  3.98  2.43
1       0.21   59.8   61.0   326.0  3.89  3.84  2.31
2       0.23   61.7   57.4   327.0  4.05  4.07  2.31
3       0.29   62.4   58.0   334.0  4.20  4.23  2.63
4       0.31   63.3   58.0   335.0  4.34  4.35  2.75
...      ...    ...    ...     ...   ...   ...   ...
53935   0.72   60.8   57.0  2757.0  5.75  5.76  3.50
53936   0.72   63.1   55.0  2757.0  5.69  5.75  3.61
53937   0.70   62.8   60.0  2757.0  5.66  5.68  3.56
53938   0.86   61.7   58.0  2757.0  6.15  6.12  3.74
53939   0.75   62.2   55.0  2757.0  5.83  5.87  3.64

[53940 rows x 7 columns]

*****Correlación entre variable y precio*****

In [19]:
##CARAT a)
#Declaramos las variables dependientes e independientes para la regresión lineal
Vars_Indep= df_clean[['carat']]
Var_Dep= df_clean['price']
#Se define model como la función de regresión lineal
from sklearn.linear_model import LinearRegression
model_carat= LinearRegression()
type(model_carat)
model_carat.fit(X=Vars_Indep, y=Var_Dep)

#ECUACIÓN:
#price=x*carat+0.3819794518048636

LinearRegression()

In [20]:
model_carat.__dict__

{'fit_intercept': True,
 'normalize': 'deprecated',
 'copy_X': True,
 'n_jobs': None,
 'positive': False,
 'feature_names_in_': array(['carat'], dtype=object),
 'n_features_in_': 1,
 'coef_': array([6524.32217555]),
 'rank_': 1,
 'singular_': array([104.13800591]),
 'intercept_': -1489.9771929141666}